In [1]:
x = 5

In [2]:
print(5)

5

In [7]:
x #변수만 써줘도 출력 o

5

In [5]:
print(2 + 5)
print(x)
print(3 + 4)

7
5
7

In [6]:
2 + 5
x
3 + 4 #마지막만 출력

7

In [8]:
2 + 5
x
print(2 + 5)
print(x)
print(3 + 4)
3 + 4 #print와 마지막만 출력

7
5
7

7

In [12]:
import pandas as pd

df = pd.read_csv('liverpool.csv')

In [13]:
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [14]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil